/*************************
*******Typography******
**************************/
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(//fonts.googleapis.com/css?family=Abel);



$cream:  #eee5de;
$brown: #8b5f65;
$blue: #9DAEF0;
