//labels

.col-sm-9.padding-right
  .features_items
    / features_items
    .col-sm-12.middle-line
      .col-sm-6.center-block
        %h5.tit.text-center=  "Бренд «#{@l.name}»"
    - @col.each do |col|
      .col-sm-4
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              = link_to  image_tag(col.asset.url, :class => "img-responsive product-image"), collection_path(col)
             
              %h5= link_to col.name, collection_path(col)
           
