.col-sm-9.padding-right
  .features_items
    / features_items
    .col-sm-12.middle-line
      .col-sm-8.center-block
        %h5.tit.text-center «О нас»
    .col-sm-12.text-wrapper
      %h4.about-title 
        Интернет-магазин <span>Домашний Декор</span> рад приветствовать Вас на нашем сайте!

      %p Мы поможем Вам качественно определиться с выбором отделки для стен и подобрать оптимально выгодный вариант по интересующим параметрам!

      %p
        В любое время суток наш консультант ответит на все Ваши вопросы и даст рекомендации на лучшие коллекции обоев для Вашего дома. А наш курьер любезно доставит Ваш заказ по нужному адресу уже к следующему дню после оформления.

      %p
        Индивидуальность, качественность и быстрота - вот наш девиз для работы с клиентами. А гибкая система скидок - приятный бонус для любимых и постоянных покупателей.
    .col-sm-12.text-wrapper.second-part
      %p
        Наш интернет-магазин <span>Домашний Декор</span> предлагает к Вашему усмотрению розничную и оптовую продажу обоев от родного и импортного производителя, формирование заказов для строительных фирм и частных лиц. 

      %p
        В интернет-магазине <span>Домашний Декор</span> вы сможете найти для себя то, что нужно именно Вам для создания качественного помещения и индивидуального дизайна. И выбор не заставит Вас ждать: спектр наших производителей представлен и брендами с мировым именем, так и молодыми прогрессирующими производителями.

      %p
        Чтобы оформить заказ  Вам достаточно заполнить специальную форму у нас на сайте или написать электронное письмо на email. Также Вы можете позвонить по указанному на сайте номеру и наши опытные менеджеры внимательно Вас выслушают и помогут выбрать достойный вариант среди имеющегося ассортимента.
    .col-sm-12.text-wrapper.second-part
      %p
        И не стоит забывать о главном принципе нашего магазина - вся продукция магазина <span>Домашний Декор</span> экологически чистая, изготовлена из безопасного сырья. Вы можете в любой момент запросить сертификат качества по действующим по мировым стандартам и соответствующие заключения будут предоставлены Вам в ознакомительном порядке.
    .col-sm-12.text-wrapper.second-part.last-part
      %p
        <span>Домашний Декор</span> проведет сотрудничество наивысшего качества.
      %p
        Звоните нам:
        %p
          %b
            %i.fa.fa-phone.telephone
              %b
                495 987-41-07 
        %p
          %b 
            %i.fa.fa-phone.telephone 
              %b 
                8 903 186 54 91


      %h2
        С нами красиво!
