- meta title: "Контакты", description: "Наберите нам, если вам нужна помощь или консультация", keywords: ["купить обои", "обои онлайн", "обои недорого купить"]
.col-sm-9.padding-right
  .features_items
    / features_items
    .col-sm-12.middle-line
      .col-sm-8.center-block
        %h5.tit.text-center «Доставка и Оплата»
    .col-sm-12.text-wrapper
      %h4.about-title Есть вопросы? Нужна консультация?
      %p
        Звоните нам:
  
        %p.contact-size
          %b 
            %i.fa.fa-phone.telephone 
              %b
                8 903 186 54 91


      %h2.orange
        С нами красиво!
  
