
.col-sm-9.padding-right
  .features_items
    / features_items
    %h2.title.text-center Наши Обои
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "", :src => asset_path("w/1.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "", :src => asset_path("w/6.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "", :src => asset_path("w/2.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.product-image{:alt => "", :src => asset_path("w/3.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
          %img.new{:alt => "", :src => asset_path("home/new.png")}/
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "", :src => asset_path("w/4.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
          %img.new{:alt => "", :src => asset_path("home/sale.png")}/
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
    .col-sm-4
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "",:src =>  asset_path("w/5.jpg")}/
            %h2 $56
            %p Easy Polo Black Edition
            %a.btn.btn-default.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart>
              В Корзину
          .product-overlay
            .overlay-content
              %h2 $56
              %p Easy Polo Black Edition
              %a.btn.btn-default.add-to-cart{:href => "#"}
                %i.fa.fa-shopping-cart>
                В Корзину
        .choose
          %ul.nav.nav-pills.nav-justified
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to wishlist
            %li
              %a{:href => "#"}
                %i.fa.fa-plus-square>
                Add to compare
  / features_items
