.col-sm-9.padding-right
  .features_items
    / features_items
    .col-sm-12.middle-line
      .col-sm-8.center-block
        %h5.tit.text-center «Доставка и Оплата»
    .col-sm-12.text-wrapper
      %h4.about-title 
        Беспокоитесь о своем времени и не хотите терять драгоценных минут на трудности с доставкой? Наш курьер доставит Ваш заказ быстро и профессионально! 

      %p
        Оплата доставки по Москве и в пределах МКАД - <b>500 рублей</b>.
      %p
        За пределами МКАД - договоримся индивидуально. 

      %p
        Минимальная сумма заказа - <b>7000 рублей</b>.
        Ваш заказ доставим точно на следующий день после оформления. 
      %p  
        Если вы сочтете отказаться от покупки, то исходя из <b>п. 3 ст. 497 ГК РФ</b>, Вам все же придется оплатить доставку заказа.

        
      %p
        Оплатить товар возможно только наличным расчетом в российских рублях. 
      %p  
        Любая иностранная валюта строго не принимается. 

      %p
        Для контактов и уточнений любых вопросов Вы можете обратиться по телефону <b> 8 903 186 52 91.</b>
      %p
        Наш магазин работает ежедневно <b>с 9.00 до 21.00.</b>
      %p
        А если Вы захотите оформить заказ через сайт - сможете сделать это в любое время суток! 
      %p
        Мы свяжемся с Вами в самое ближайшее время.
