%section#slider
  / slider
  .container
    .row
      .col-sm-12
        #slider-carousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "15000"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "1", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "2", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "3", "data-target" => "#slider-carousel"}
          
          .carousel-inner
            -SliderMain.all.each_with_index do |x,ind|
              -if ind == 0
                .item.active
                  .col-sm-6
                
                    %h2 Ваш уникальный магазин
                    %p= x.text
                
                  .col-sm-6
                    =image_tag(x.asset.url, :class => "girl img-responsive")
              -else
                .item
                  .col-sm-6
                
                    %h2 Ваш уникальный магазин
                    %p= x.text
                
                  .col-sm-6
                    =image_tag(x.asset.url, :class => "girl img-responsive")
                
                
           
          %a.left.control-carousel.hidden-xs{"data-slide" => "prev", :href => "#slider-carousel"}
            %i.fa.fa-angle-left
          %a.right.control-carousel.hidden-xs{"data-slide" => "next", :href => "#slider-carousel"}
            %i.fa.fa-angle-right
/ /slider
