%footer#footer
  / Footer
  
  .footer-widget
    .container
      .row
        .col-sm-2
          .single-widget
            %h2 Brands
            
        .col-sm-2
          .single-widget
            %h2 Quock Shop
           
        .col-sm-2
          .single-widget
            %h2 Policies
            
        .col-sm-2
          .single-widget
            %h2 О нас
            
        .col-sm-3.col-sm-offset-1
          .single-widget
            %h2 Доставка и оплата
            
  .footer-bottom
    .container
      .row
        %p.pull-left Copyright © 2014 "Домашний Декор" Inc. All rights reserved.
        %p.pull-right
          Designed by
          %span
            %a{:href => "http://www.themeum.com", :target => "_blank"}
/ /Footer
