%footer#footer
  / Footer
  
  .footer-widget
    .container
      .row
        .col-sm-2
          .single-widget
            %h2 Brands
            -@label[0,7].each do |x|
              %br
              =link_to x.name, label_path(x)
          
        
           
        .col-sm-2
          .single-widget
            %h2 Контакты
            =link_to "Свяжитесь с нами", contact_path
            
        .col-sm-2
          .single-widget
            %h2 О нас
            =link_to "Более 10 лет на рынке", about_path
            
        .col-sm-3.col-sm-offset-1
          .single-widget
            %h2 Доставка и оплата
              
            =link_to "Узнай больше", delivery_path
            
  .footer-bottom
    .container
      .row
        %p.pull-left Copyright © 2014 "Домашний Декор" Inc. All rights reserved.
        %p.pull-right
          Designed by
          %span
            %a{:href => "http://www.themeum.com", :target => "_blank"}
/ /Footer
