
.col-sm-3
  .left-sidebar
  
    %h2 Категории
    #accordian.panel-group.category-products
      / category-productsr
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#sportswear"}
              %span.badge.pull-right
                %i.fa.fa-plus
              Страны
        #sportswear.panel-collapse.collapse
          .panel-body
            %ul
              - cache ['country', @country] do
                - @country.each do |c|
                  - cache ['c_entry', c] do
                    %li
                      =link_to c.name.mb_chars.capitalize.to_s, country_path(c)
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#mens"}
              %span.badge.pull-right
                %i.fa.fa-plus
              Бренды
        #mens.panel-collapse.collapse
          .panel-body
            %ul
              -cache ['store', @label]  do
                
                - @label.each do |c|
                  -cache ['entry', c] do
                    %li
                    
                      =link_to c.name.mb_chars.capitalize.to_s, label_path(c)
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#womens"}
              %span.badge.pull-right
                %i.fa.fa-plus
              По рисунку 
        #womens.panel-collapse.collapse
          .panel-body
            %ul
              -cache ['paints', @paints] do
          
                - @paints.each do |x|
                  -cache ['entry_paint', x] do
                    %li
                      =link_to x.name.mb_chars.capitalize.to_s, paint_path(x)
           
          
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#size"}
              %span.badge.pull-right
                %i.fa.fa-plus
              По помещению
        #size.panel-collapse.collapse
          .panel-body
            %ul
              - @areas.each do |x|
                %li
                  =link_to x.name.mb_chars.capitalize.to_s, area_path(x)
             

    
     
    .brands_products
      / brands_products
      %h5 Хозяйке на заметку
      .col-md-12.master
        %p= @tip.text 
          
          
          


