%header#header
  / header
  .header_top
    / header_top
    .container
      .row
        .col-sm-6
          .contactinfo
            %ul.nav.nav-pills
              %li
                %a{:href => "#"}
                  %i.fa.fa-phone
                  +7 903 186 52 91
              %li
                %a{:href => "#"}
                  %i.fa.fa-envelope
                  info@vash-site.com
       
  / /header_top
		
  .header-middle
    / header-middle
    .container
      .row
        .col-sm-4
          .logo.pull-left
            %a{:href => "/"}
              %img{:alt => "", :src => asset_path("logo/16.png") }/
        .col-sm-5.pull-right
          .logo.pull-right
            %h4.phone_number 
              %b
                %i.fa.fa-phone
                8 903 186 52 91
            
        
   
         
        
  / /header-middle
  .header-bottom
    / header-bottom
    #nav.container(data-spy="affix" data-offset-top="200")
      .row
        .col-sm-12
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %i.fa.fa-dashboard.fa-border.fa-2x
          .mainmenu.pull-left
            %ul.nav.navbar-nav.collapse.navbar-collapse
              %li
                =link_to "Главная", root_path
              %li.dropdown
                %a{:href => "#"}
                
                  Каталог
                  %i.fa.fa-angle-down
                %ul.sub-menu{:role => "menu"}
                  -cache ['types', @types] do
                    - @types.all.each do |type|
                      -cache ['entry_type', type] do
                        %li
                          =link_to type.name.mb_chars.capitalize.to_s,type_path(type)
                  %li
                    =link_to "Kлей для обоев", clue_types_path
                 
             
              %li
                =link_to  "О нас", about_path
              %li
                =link_to "Доставка и Оплата", delivery_path
              %li
                =link_to "Контакты", contact_path
              %li#current_item
                = link_to cart_path do
                 
                  %i.fa.fa-shopping-cart
                  Корзина
               
          .col-sm-3.col-xs-3.pull-right.search_container
            .search_box.pull-right
              = form_tag(product_index_path, :method => "get", id: "search-form") do
                = text_field_tag :search, params[:search], placeholder: "артикул или название"
                %button.btn.btn-default.search-button(type="submit") Поиск
          
              
